.backgroundImage {
    background: url('../images/back1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centered{
    margin: 0 auto;
    text-align: center;
}

.center_vert {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

ol#flash-messages{
    list-style: none;
}