@import url("preloader.css");


.map {
}

#preloader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.spinnertext{
  position: relative;
  margin: -60px 0px 50px -25%;
  font-size: 140%;
  text-align: center;
;
  width: 150%;
}
#busy {
    display:block;
    background-color: rgba(150, 150, 150, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1080;
}

#circularG {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 35px 10px -60px;
}

.headline {
  font-size: large;
  margin: 5px;
  color:#ffffff;
}

.headline-img {
  display: inline;
  margin-left: 10px;
}

.btn-group-header {
  margin-right:10px;
  margin-bottom: 5px;
  display:block;
}


.btn-primary {
  color: #fff;
  background-color: #0E3D54;
  border-color: #0E3D54;

}


.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #5C758A;
  border-color: #5C758A;
}

header#resetpasswordheader {
  background-color: #9AC1C9;
  padding: 20px;
}


.padonlarge {
  padding:50px;
}
