<!doctype html>
<!--Conditionals for IE9 Support-->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->

<html>
<head>
  <meta charset="utf-8">
  <title>MinLokaleButik.dk - lokale tilbud</title>
  <meta name="description" content="MinLokaleButik.dk tilbud tæt på"/>
  <meta name="keywords" content="tilbud billig lokal butik"/>
  <meta name="author" content="Bitwork"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <script src="bower_components/angular/angular.min.js"></script>
  <!--Favicon-->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!--Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <!--Bootstrap 3.1.1-->
  <!--<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!--Icon Fonts-->
  <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
  <link href="css/icon-moon.css" rel="stylesheet" media="screen">
  <!--Animations-->
  <link href="css/animate.css" rel="stylesheet" media="screen">
  <!--Theme Styles-->
  <link href="css/theme-styles.css" rel="stylesheet" media="screen">
  <!--Color Schemes-->
  <link href="css/colors/color-default.css" rel="stylesheet" media="screen">
  <link href="styles/main.css" rel="stylesheet" media="screen">
  <!--&lt;!&ndash;Modernizr&ndash;&gt;-->
  <script src="js/libs/modernizr.custom.js"></script>
  <!--Adding Media Queries Support for IE8-->
  <!--[if lt IE 9]>
  <!--<script src="js/plugins/respond.min.js"></script>-->
  <!--<script src="js/plugins/excanvas.js"></script>-->
  <![endif]-->
  <base href="{{baseUrl}}">
  <!--<base href="/minlokalebutik/app/">-->
</head>

<!--Body-->
<body ng-app="testappApp">


<!--Old Browser handling-->
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->


<div id="preloader">
  <div id="circularG">
    <div class="spinnertext">MinLokaleButik.dk starter</div>
     <div id="circularG_1" class="circularG">
    </div>
    <div id="circularG_2" class="circularG">
    </div>
    <div id="circularG_3" class="circularG">
    </div>
    <div id="circularG_4" class="circularG">
    </div>
    <div id="circularG_5" class="circularG">
    </div>
    <div id="circularG_6" class="circularG">
    </div>
    <div id="circularG_7" class="circularG">
    </div>
    <div id="circularG_8" class="circularG">
    </div>
  </div></div>


<!--Navigation-->
<nav class="side-navi animated">
  <ul>
    <li class="current"><a class="tooltipped scroll-up" href="#" data-toggle="tooltip" data-placement="left" title="Hjem"></a></li>
    <li><a class="tooltipped scroll" href="#kortnav" data-toggle="tooltip" data-placement="left" title="Kort"></a></li>
    <li><a class="tooltipped scroll" href="#list" data-toggle="tooltip" data-placement="left" title="Liste"></a></li>
    <li ng-show="auth"><a class="tooltipped scroll" href="#butik" data-toggle="tooltip" data-placement="left" title="Butik"></a></li>
  </ul>
</nav>



<!--Header (Hero Unit with Slider)-->
<header class="hero">
  <div class="container">
    <!--Top Navi-->
    <div id="top-navi" class="row animated" ng-controller="LoginCtrl">
      <div class="col-sm-7" >
        <img class="pull-left" src="img/logo-white-small.png"  alt="MinLokaleButik.dk">
      </div>
      <div class="col-sm-5">
        <nav class="top-navi pull-right">
          <a ng-hide="auth" href="#" ng-click="open()"><i class="icon-user"></i>Butiksejer</a>
          <a ng-show="auth" ng-click="logout()" href="#"><i class="icon-user"></i>Logout {{auth.password.email}}</a>
        </nav>
      </div>
    </div>

    <!--Splash-->
    <div class="row" ng-hide="auth" ng-controller="MainCtrl">
      <div class="hero-slider">
        <div class="slide first-slide">
          <div class="col-lg-5 col-md-5 col-sm-5 animated">
            <div class="hidden-xs" style="height:100px">  </div>
            <h1 class="">{{aktueltByNavn}}</h1>
            <h3>Her kan du finde gode lokale tilbud fra små butikker i nærheden af dig.</h3>
            <a class="btn btn-primary btn-lg scroll" href="#list">Find tilbud nu!</a>

          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 animated fadeInRight">
            <img class="pull-right" src="img/bluevillagetext.png" width="689" height="659" alt="Din lokale by">
          </div>
          <div class="col-xs-12 animated fadeInRight">
            <a class="btn pull-right btn-weak"  ng-click="openEmail()">Modtag tilbud på email</a>
          </div>
        </div>
      </div>
    </div>


    <!--Close Hero Slider-->
  </div>
</header>
<!--Close Header-->
<!--Butik-->
<section ng-show="auth" class="page-block" id="butik">
  <div class="container">
    <div class="row page-header">
      <h2>Butik</h2>
      <span>Administrer din butik og lokale tilbud</span>
    </div>
    <ng-include src="'views/butik.html'"></ng-include>
  </div>
</section>

<div class="container" ng-hide="auth" ng-controller="filterController">
  <div class="row page-block">
    <div class="col-sm-12 text-center">
      <a ng-hide="filter" ng-click="filter=!filter" class="btn btn-primary btn-lg" >Vis filter</a>
      <a ng-show="filter" ng-click="filter=!filter" class="btn btn-primary btn-lg" >Skjul filter</a>
      <a ng-hide="kort" ng-click="kort=!kort" class="btn btn-primary btn-lg" >Vis kort</a>
      <a ng-show="kort" ng-click="kort=!kort" class="btn btn-primary btn-lg" >Skjul kort</a>
    </div>
  </div>


  <div  ng-hide="auth" class="row page-block">
    <div ng-if="filter" class="col-sm-12">
      <div ng-include="'views/search.html'"></div>
    </div>

    <div ng-if="kort" id="kortnav" class="col-sm-12" ng-controller="myMapController">
      <map class="map">
        <shape id="circle" name="circle" stroke-color='#FF0000'
               stroke-opacity="0.1" stroke-weight="1" fill-opacity="0.1"
               editable="false">
        </shape>
      </map>
      <div id="nolocation" class="alert" ng-hide="location.currentPosition"> Vi kan ikke finde din nuværende position,
        du skal huske at tillade positionering i din browser, eller indtaste din adresse for neden.
      </div>
      <input type="text" id="manualadresse" class="form-control" ng-autocomplete ng-model="manueladresse" />
    </div>
  </div>


  <div ng-hide="auth" ng-show="filter" class="row page-block" >
    <div class="col-lg-12 " ng-show="search.butik">
      <h1>{{search.butik.navn}}</h1>
    </div>

  </div>

  <!--section-->
  <div ng-hide="auth" class="row">
    <div id="list" ng-cloak ng-include="'views/list.html'"></div>
  </div>
</div>


<!--Footer-->
<footer class="footer">
  <div ng-include="'views/footer.html'"></div>
</footer>

<!--Scroll To Top Button-->
<div id="scroll-top" class="scroll-up"><i class="icon-arrow-up"></i></div>

<div id="busy" ng-show="busy" ng-cloak>

  <div id="circularG">
    <div class="spinnertext">MinLokaleButik.dk arbejder</div>
    <div id="circularG_1" class="circularG">
    </div>
    <div id="circularG_2" class="circularG">
    </div>
    <div id="circularG_3" class="circularG">
    </div>
    <div id="circularG_4" class="circularG">
    </div>
    <div id="circularG_5" class="circularG">
    </div>
    <div id="circularG_6" class="circularG">
    </div>
    <div id="circularG_7" class="circularG">
    </div>
    <div id="circularG_8" class="circularG">
    </div>
  </div></div>


<script src="https://maps.google.com/maps/api/js?libraries=places"></script>

<!--&lt;!&ndash;Javascript (jQuery) Libraries and Plugins from Ultima theme&ndash;&gt;-->
<script src="js/libs/jquery-1.10.2.min.js"></script>
<script src="js/libs/jquery.easing.1.3.js"></script>
<!--&lt;!&ndash;<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>&ndash;&gt;-->
<script src="js/plugins/jquery.touchSwipe.min.js"></script>
<script src="js/plugins/jquery.placeholder.js"></script>
<script src="js/plugins/icheck.min.js"></script>
<script src="js/plugins/jquery.validate.min.js"></script>
<script src="js/plugins/jquery.fitvids.js"></script>
<script src="js/plugins/jquery.bxslider.min.js"></script>
<script src="js/plugins/smoothscroll.js"></script>
<script src="js/plugins/chart.js"></script>
<script src="js/plugins/waypoints.min.js"></script>
<script src="js/landing1.js"></script>
<script src="js/plugins/gallery.js"></script>

<script src='bower_components/firebase/firebase.js'></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>


<!-- build:js scripts/modules.js -->
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/google-maps-ng-autocomplete/src/ngAutocomplete.js"></script>



<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/butik.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/browse.js"></script>
<script src="scripts/controllers/addresseController.js"></script>
<script src="scripts/controllers/mapController.js"></script>
<script src="scripts/controllers/filterController.js"></script>
<script src="scripts/services/dataService.js"></script>
<script src="scripts/services/firebaseService.js"></script>
<!-- endbuild -->


</body>
<!--Close Body-->
</html>
