<form class="col-sm-offset-3 col-sm-6" name="butikform" class="form-horizontal" >
  <fieldset>
    <legend>Butik/Adresse</legend>

    <div class="form-group">
      <label for="navn" class="control-label">Navn</label>
      <input ng-model="butik.navn" type="text" class="form-control" id="navn"
             placeholder="Butikkens navn" autocomplete="off" required>
    </div>

    <div class="form-group">
      <label for="postnummer" class="control-label">Postnr</label>
      <input ng-model="butik.postnummer" type="text" class="form-control"
             id="postnummer" placeholder="Postnr" ng-required="true" size="4" maxlength="4">
    </div>

    <div class="form-group">
      <label for="vejnavn" class="control-label">Vejnavn</label>
      <input ng-model="butik.vejnavn" type="text" class="form-control"
             id="vejnavn" placeholder="Vejnavn" ng-required="true" size="40" maxlength="40">
    </div>

    <div class="form-group">
      <label for="husnummer" class="control-label">husnummer</label>
      <input ng-model="butik.husnummer" type="text" class="form-control"
             id="husnummer" placeholder="Husnummer" ng-required="true" size="4" maxlength="4">
    </div>

    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-8">
        <button type="submit" ng-disabled="!butikform.$valid" ng-click="saveShop()" class="btn btn-default">Gem Butik</button>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <alert ng-show="getAlert()" type="getAlert().type" close="getAlert().close()">{{getAlert().msg}}</alert>
  </div>

</form>

