<form class="col-sm-offset-3 col-sm-6" name="butikform" class="form-horizontal" >
  <fieldset>
    <legend>Butik/Adresse</legend>

    <div class="form-group">
      <label for="navn" class="control-label">Navn</label>
      <input ng-model="butik.navn" type="text" class="form-control" id="navn"
             placeholder="Butikkens navn" autocomplete="off" required>
    </div>

    <div class="form-group">
      <label for="postnummer" class="control-label">Postnr</label>
      <input ng-model="butik.postnummer" type="text" class="form-control"
             id="postnummer" placeholder="Postnr" ng-required="true" size="4" maxlength="4">
    </div>

    <div class="form-group">
      <label for="gade" class="control-label">Adresse</label>
      <div class="typeahead" ng-controller="AdresseCtrl">
        <input type="text" ng-model="butik.adresse" placeholder="Adresse"
               typeahead="address for address in getMatches($viewValue,butik.postnummer)"
               typeahead-loading="asyncloading" class="form-control" ng-required="true">
        <br/>
        <br/>
                <span ng-show="loadingLocations" class="glyphicon glyphicon-refresh">
                    <input ng-model="butik.adresse" type="text" size="30" class="form-control" id="gade"
                           placeholder="Adresse"></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-8">
        <button type="submit" ng-disabled="!butikform.$valid" ng-click="saveShop()" class="btn btn-default">Gem Butik</button>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <alert ng-show="getAlert()" type="getAlert().type" close="getAlert().close()">{{getAlert().msg}}</alert>
  </div>

</form>

