<div class="well">
    <div class="well">
        <input type="text" ng-model="filter">filter</input>
    </div>

    <div ng-repeat="tilbud in butik.tilbud">
        <div class="panel">
            <div class="row">
                <div class="col-sm-10">
                    {{tilbud.type}} - {{tilbud.kort}} - {{tilbud.rabat}}
                </div>

                <div class="col-sm-2">
                    <button ng-click="alert('remove');"><span class="glyphicon glyphicon-remove" >remove2</span></button>
                    <button ng-click="edit()"><span class="glyphicon glyphicon-wrench"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
