<div class="well">
    <div class="well">
        <input ng-model="search.text" placeholder="filter"/>
    </div>

    <div ng-repeat="tilbud in butik.tilbud | filter:search.text">
        <div class="panel">
            <div class="row">
                <div class="col-sm-10">
                    {{tilbud.type}} - {{tilbud.kort}} - {{tilbud.rabat}}
                </div>

                <div class="col-sm-2">
                    <button ng-click="remove($index)" title="slet"><span class="glyphicon glyphicon-remove" ></span></button>
                    <button ng-click="edit($index)" title="ret"><span class="glyphicon glyphicon-wrench"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
