<div ng-controller="ButikCtrl">
    <div class="rowhidden-xs ">
        <div style="height: 100px"></div>
    </div>
    <div class="row ">
        <div class="col-lg-8">
            <tabset>
                <tab heading="Butik" active="{{tabs[0].active}}">
                    <div ng-include="'views/adresse.html'"></div>
                </tab>
                <tab heading="Tilbud" active="{{tabs[1].active}}">
                    <div ng-include="'views/tilbud.html'"></div>
                </tab>
                <tab heading="Alle Tilbud" active="{{tabs[2].active}}">
                    <div ng-include="'views/alle-tilbud.html'"></div>
                </tab>
                <tab heading="Instagram" active="{{tabs[3].active}}">
                    <div class="well">Instagram integration kommer senere!!</div>
                </tab>
            </tabset>
        </div>

    </div>

    <div class="row"></div>


</div>

