<section id="list">
    <div class="row" ng-controller="BrowseCtrl">
      <div ng-show="list.view.length > 0" ng-repeat="tilbud in list.view | orderBy:'distance'">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="pricing-plan" >
            <div class="header">
              <image class="headline-img" ng-src="img/typer/{{imageName(tilbud)}}.png"></image>
                <span class="headline">{{tilbud.kort}}</span>
            </div>
            <div class="body">
              <uL>
                <li><b>{{tilbud.butik.navn}}</b></li>
                <li>Pris: {{tilbud.pris}} kr</li>
                <li>Rabat: {{tilbud.rabat}}%</li>
                <li>Afstand: {{tilbud.distance|afstand}}</li>
                <li ng-show="tilbud.showdetails">Adresse: {{tilbud.butik.adresse}}</li>
                <li>
                  <div ng-if="tilbud.showdetails" >
                    <div ng-controller="CarouselCtrl">
                      <div>count: {{cnt}}</div>

                      <div>
                        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                          <uib-slide ng-repeat="slide in slides" active="slide.active">
                            <div ng-bind-html="slide.content"/>
                          </uib-slide>
                        </uib-carousel>
                      </div>
                    </div>

                    <!--<ng-include src="'views/gallery.html'"></ng-include>-->
                  </div>
                </li>

                <li ng-show="tilbud.showdetails">Type: {{tilbud.type}}</li>
                <li ng-show="tilbud.showdetails"><b>{{tilbud.lang}}</b></li>
                <li ng-show="tilbud.showdetails">Udløber: {{tilbud.slut | date}}</li>
              </uL>
              <div class="buy-btn"><a class="btn btn-primary" ng-click="$event.stopPropagation();showDetails(tilbud)">Detaljer</a></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-hide="list.view.length > 0">
        <div class="container" ng-cloak>
          <div class="col-sm-3">
            <img src="img/sad.png">
          </div>
          <div class="col-sm-5">
            <h3>Der ser ikke ud til at være nogle tilbud i dit lokal område.</h3>
            <h4>Prøv at ændre på filteret eller endnu bedre snak med dine lokale butikker og fortæl dem om minlokalebutik.dk</h4>
          </div>
        </div>
      </div>
    </div>
</section>


