    <form class="form-horizontal" ng-submit="addTilbud()">
        <!-- Form Name -->
        <legend>Tilbud</legend>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="type">Varetype</label>

            <div class="col-sm-3">
                <select id="type" ng-model="tilbud.type" name="type" class="form-control" required="">
                    <option ng-repeat="type in types" >{{type}}</option>
                </select>
            </div>
            <label class="control-label col-sm-2" for="kort">Kort beskrivelse</label>

            <div class="col-sm-5">
                <input id="kort" class="form-control" ng-model="tilbud.kort" name="kort" type="text" placeholder="beskriv kort din vare"
                       required="" maxlength="30">
            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="control-label col-sm-2">Førpris</label>
            <div class="col-sm-2">
                <input id="forpris" name="forpris" type="number" ng-model="tilbud.forpris" placeholder="førpris" class="form-control col-sm-2" min="0" step="0.25">
            </div>
            <label class="control-label col-sm-2"> - &nbsp Kundens pris</label>
            <div class="col-sm-2">
                <input id="pris" name="pris" type="number" ng-focus='focus("pris")' ng-model="tilbud.pris" placeholder="pris" class="form-control col-sm-2" min="0" step="0.25" required="">
            </div>
            <label class="control-label col-sm-2"> = &nbsp Rabat %</label>
            <div class="col-sm-2">
                <input id="rabat" name="rabat" type="number" ng-focus = 'focus("rabat")' ng-model="tilbud.rabat" placeholder="rabat" class="form-control col-sm-2" min="0" step="1" required="">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="lang">Lang beskrivelse</label>
            <div class="col-sm-10">
            <textarea id="lang" name="lang" class="form-control" ng-model="tilbud.lang" rows="5" required=""></textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="control-label col-sm-2" for="start">Startdato</label>
          <div class="col-sm-4">
            <input id="start" name="start" type="date" placeholder="startdato"  ng-model="tilbud.start" required="" class="form-control">
          </div>
            <label class="control-label col-sm-2" for="slut">Udløbsdato</label>
            <div class="col-sm-4">
            <input id="slut" name="slut" type="date" placeholder="udløbsdato"  ng-model="tilbud.slut" required="" class="form-control">
            </div>
        </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="billede1">Billede 1</label>
        <div class="col-sm-4">
          <input id="billede1" name="billede1" type="text" placeholder="instagram embedded link1"  ng-model="tilbud.billede1" class="form-control">
        </div>
        <label class="control-label col-sm-2" for="billede2">Billede 2</label>
        <div class="col-sm-4">
          <input id="billede2" name="billede2" type="text" placeholder="instagram embedded link2"  ng-model="tilbud.billede2"  class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
          <button id="gem" type="submit" name="gem" class="form-control btn btn-primary">gem</button>
        </div>
      </div>
        <div >
            <alert ng-show="getAlert()" type="getAlert().type" close="getAlert().close()">{{getAlert().msg}}</alert>
        </div>

    </form>


