<div class="row">
  <div class="hero-slider">
    <div class="slide first-slide">
      <div class="col-lg-5 col-md-5 col-sm-5 animated">
        <h1>MinLokaleButik.dk</h1>

        <p>Her kan du finde gode tilbud fra små lokale butikker i nærheden af dig.</p>

        <p></p>
        <a class="btn btn-primary scroll" href="#search">Find tilbud nu</a>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 animated fadeInRight">
        <img class="pull-right" src="img/hero-slider/imac.png" width="689" height="659" alt="Components and Styles">
      </div>
    </div>
  </div>
</div>
